*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/HtmlSpanner/build/
/release/*
.cxx
*.iml
.gradle/
build/
.idea/
.DS_STORE
local.properties